{:kotoba.q9.pilot/version 1
 :sources ["src/adyen/page_limit.kotoba"
           "src/adyen/paginate.kotoba"]
 :oracles [{:namespace adyen.main
            :function page-limit
            :source "src/adyen/page_limit.kotoba"
            :cases [-1 0 1 20 250]
            :expected [20 20 1 20 100]}
           {:namespace adyen.main
            :functions [as-int-kernel has-more-kernel?]
            :source "src/adyen/paginate.kotoba"
            :main-expression [test-kernel]
            :expected true}]
 :effects #{}
 :capabilities #{}
 :consumer-cutover false
 :host-boundary
 {:retained-cljc ["src/adyen/main.cljc"]
  :owns [:clock :uuid :mutable-crud-state :exceptions :maps :strings :floating-point]}
 :rollback
 {:oracle-retained true
  :action :remove-pilot-source-and-continue-using-cljc-oracle}}
